html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@-ms-viewport {
    width: device-width;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    padding: .75em;
    font: normal 100% / 1.5 Palatino, Georgia, serif;
    text-align: center;
    color: #fff;
    background: #51818C;
    background: linear-gradient(135deg, #214A65, #A3E0CF);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

@media only screen and (min-height: 32.5rem) {
    body {
        justify-content: center;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    body {
      background: #426a74;
      background-image: linear-gradient(to bottom right, #122938, #83b3a6);
    }
}

main {
    display: block;
    max-width: 25rem;
}

main > * > * {
    margin: 0 auto 1.5rem;
}

h1, h2, button, .color {
    font-family: "Avenir Next", Avenir, "Myriad Pro", "Trebuchet MS", sans-serif;
    text-rendering: optimizeLegibility
}

h1 {
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 3em;
    border-bottom: .4375rem double #FFF;
}

h2 {
    line-height: 1;
}

a {
    color: #fff;
}

button {
    width: 100%;
    font-size: 1.5em;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    text-align: center;
    color: #588A92;
    background: #fff
}

.txt-small {
    font-size: .875em;
    line-height: 1.714;
}

.block {
    border: .125rem solid #fff;
    border-radius: .4375rem;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

.swatch {
    position: relative;
    min-height: 5.25em;
    padding: 1em;
    margin-bottom: .5rem;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.color {
    position: absolute;
    right: 1em;
    bottom: 1em;
    padding: .25em .5em;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    border-radius: .25em;
}

.error {
    background: #DD9441 !important;
    padding: 0.5em;
}